**/__pycache__
*.egg-info
*.swo
.coverage*
.dmypy.json
.eggs
.env
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.python-version
.testmondata
.tmontmp
.update-deps
.venv
.vscode
neuro-sdk/build
neuro-cli/build
coverage.xml
neuro-sdk/dist
neuro-cli/dist
neuro-sdk/docs/_build
pip-wheel-metadata
*.orig
