**/__pycache__
*.egg-info
*.swo
.coverage*
.dmypy.json
.eggs
.env
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.python-version
.testmondata
.tmontmp
.update-deps
.venv
.vscode
build
coverage.xml
dist
docs/_build
pip-wheel-metadata
