mypy==0.650
pytest==3.5.1
pytest-cov==2.5.1
flake8==3.6.0
isort==4.3.4
pytest-aiohttp==0.3.0
black==18.6b4
keyring~=13.0
keyrings.cryptfile==1.2.1
setuptools==40.6.2
wheel==0.32.3
cmarkgfm==0.4.2
twine==1.12.1
pytest-xdist==1.24.1
